.navbar {
    height: 50px+2px;
    // background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 2px lightgray;

    .rightSide {
        width: 50%;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 10%;
        height: 100%;
    }

    .nav-items {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .icon {
        height: 40px;
        width: auto;
        transition: all 0.2s linear;

        &:hover {
            color: #6439ff;
            cursor: pointer;
            transform: scale(1.2,1.2);
        }
    }
}